@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

body {
  position: relative;
  background-color: bisque;
  height: 100vh;
  font-family: "Lobster", cursive;
  font-weight: 400;
}
.navbar {
  margin: 0;
  padding: 0;
  height: 50px;
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  text-decoration: none;
}
.nav-wrapper {
  position: relative;
  margin: 0;
  padding: 0 10px 0 10px;
  text-align: center;
  display: block;
  cursor: pointer;
  justify-content: center;
  background-color: rgb(255, 207, 148);
  border: 2px solid rgb(250, 183, 101);
}
.nav {
  color: inherit;
  text-decoration: none;
  font-size: 30px;
  margin: -1px;
  display: inline-block;
  position: relative;
}
.nav,
.nav:hover,
.nav:focus,
.nav:active {
  text-decoration: none;
}
.nav:after {
  content: "";
  position: absolute;
}
.nav-wrapper .nav::after {
  top: 100%;
  height: 5px;
  width: 0%;
  left: 5%;
  background-color: rgb(252, 153, 32);
  transition: 0.5s ease all 0.3s;
}

.nav-wrapper:hover .nav::after {
  width: 90%;
  transition: 0.3s ease all;
}
/**************************************/

.spell_bubble {
  position: absolute;
  height: 10rem;
  margin: 0 0 0 2rem;
  visibility: hidden;
}

/**************************************/
/*Styles the banners on top of the screen*/
#house-banners {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin: 1rem 0;
}

#banner-img {
  height: 300px;
  padding-top: 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.banner:hover {
  cursor: pointer;
}

/**************************************/
/*Here comes some button styling for our page*/

.huffelpuff {
  background-color: #fae675;
  color: #590a59;
}
.gryffindor {
  background-color: #ae4a4a;
  color: #febc42;
}
.ravenclaw {
  background-color: #382982;
  color: #f7c665;
}
.slytherin {
  background-color: #3b9e82;
  color: #204431;
}
.classroom-button {
  position: relative;
}

.delete-btn {
  border: none;
  border-radius: 6px;
  background-color: #f0f7ff;
  color: #cf2d3e;
}
.delete-btn:hover {
  background-color: #dbe9fa;
  color: #94202b;
}
/**************************************/
/* CHARACTER LIST STYLING*/

#character_list_container {
  position: relative;
  padding: 4rem;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}
.teacher-gryffindor {
  list-style: none;
  border-radius: 6px;
  border: 5px solid black;
  padding: 5px 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    " name image "
    " house image "
    " age image"
    " alive image";
  text-align: left;
  background-color: #ae4a4a;
  color: #febc42;
}
.teacher-ravenclaw {
  list-style: none;
  border-radius: 6px;
  border: 5px solid black;
  padding: 5px 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    " name image "
    " house image "
    " age image"
    " alive image";
  text-align: left;
  background-color: #382982;
  color: #f7c665;
}
.teacher-hufflepuff {
  list-style: none;
  border-radius: 6px;
  border: 5px solid black;
  padding: 5px 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    " name image "
    " house image "
    " age image"
    " alive image";
  text-align: left;
  background-color: #fae675;
  color: #590a59;
}
.teacher-slytherin {
  list-style: none;
  border-radius: 6px;
  border: 5px solid black;
  padding: 5px 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    " name image "
    " house image "
    " age image"
    " alive image";
  text-align: left;
  background-color: #3b9e82;
  color: #1d3d2c;
}

.exit-btn,
.save-btn {
  width: 10em;
  margin: 0.5em 1em;
  padding: 0.7em;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
}

.teacher-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}
.teacher {
  list-style-type: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}
.teacher > h2 {
  grid-area: name;
}
.teacher-house {
  grid-area: house;
}
.teacher-patronus {
  grid-area: patronus;
  margin: 0;
  margin-top: 3px;
  visibility: hidden;
  background-color: #94202b;
  background-clip: text;
  color: black;
}

.teacher:hover > .teacher-patronus {
  visibility: visible;
}
.teacher-list > li {
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
}

.teacher-gryffindor:hover > .teacher-patronus,
.teacher-slytherin:hover > .teacher-patronus,
.teacher-ravenclaw:hover > .teacher-patronus,
.teacher-hufflepuff:hover > .teacher-patronus {
  visibility: visible;
}

.teacher-img {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
}
.btns {
  border: none;
  font-weight: 600;
  font-style: normal;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.delete-btn {
  grid-area: delete-btn;
  background-color: orange;
}
.edit-btn {
  grid-area: edit-btn;
  background-color: #dbe9fa;
}
.delete-btn:hover,
.edit-btn:hover {
  opacity: 80%;
}

.edit-teacher {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 2rem);
  text-align: left;
}
.input-container {
  display: grid;
  grid-template-columns: 20% 20%;
  justify-content: space-evenly;
}

#inputs > input {
  margin: 1px;
  height: 25px;
  font-size: 25px;
  border-radius: 5px;
  border: solid gray 1.2px;
}
.add-teacher-btn {
  margin-top: 4px;
  width: 150px;
  height: 25px;
  font-size: 17.5px;
  border-radius: 4px;
  border: solid gray 1.2px;
  color: #f2f2f2;
  background-color: rgb(7, 99, 7);
}
