@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	margin: 0;
	padding: 0;
}
.navbar{
	margin: 0;
	padding: 0;
	height: 50px;
	display: flex;
	width: 100%;
	flex-grow: 1;
	justify-content: center;
	text-decoration: none;
}
.nav-wrapper{
	position: relative;
	margin: 0;
	padding: 0 10px 0 10px;
	text-align: center;
	display: block;
 	cursor: pointer;
 	justify-content: center;
	background-color: rgb(255, 207, 148);
	border: 2px solid rgb(250, 183, 101);
}
.nav {
	color: inherit;
  	text-decoration: none;
	font-size: 30px;
	margin: -1px;
	display: inline-block;
  	position: relative;
}
.nav,
.nav:hover,
.nav:focus, 
.nav:active {
	text-decoration: none;
}
.nav:after{
	content: "";
	position: absolute;
}
.nav-wrapper .nav::after {
	top: 100%;
	height: 5px;
	width: 0%;
	left: 5%;
	background-color: rgb(252, 153, 32);
	transition: 0.5s ease all .3s;
}

.nav-wrapper:hover .nav::after {
	width: 90%;
    transition: 0.3s ease all;
}

h1 {
	text-align: center;
	font-size: 3rem;
	padding: 2rem 0;
}

body {
	position: relative;
	background-color: bisque;
	height: 100vh;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}

#house-banners {
	position: relative;
	display:flex;
	flex-direction: row;
	justify-content: center;
	justify-items: center;
	margin: 1rem 0;
}

#banner-img {
	height: 300px;
	padding-top: 2rem;
}

.banner {
	display:flex;
	flex-direction: column;
	gap:20px;
}
.banner:hover{
	cursor: pointer;	  
}

.banner_btn  {
	padding: 1rem 2rem;
	border: none;
	border-radius: 10px;
	font-size: 1.1rem;
	font-weight: 500;
	max-width: 280px;
	margin-left:16px;
	transition: transform .3s;;
}
.banner_btn:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.hufflepuff {
	background-color: #fae675;
	color:#590a59;
}

.gryffindor {
	background-color: #ae4a4a;
	color:#febc42;
}

.ravenclaw {
	background-color: #382982;
	color:#f7c665;
}

.slytherin {
	background-color: #3b9e82;
	color:#204431;
}

#input-container{
	display: grid;
	grid-template-columns: 20% 20%;
	justify-content: space-evenly ;
}

#inputs > input{
	margin: 1px;
	height: 25px;
	font-size: 25px;
	border-radius: 5px;
	border: solid gray 1.2px;
}

#alive-select{
	height: 25px;
	width: 70px;
	font-size: 17px;
	font-weight: 200;
}

.add-student-btn{
	margin-top: 4px;
	width:150px;
	height: 25px;
	font-size: 17.5px;
	border-radius: 4px;
	border: solid gray 1.2px;
	color: #f2f2f2;
	background-color: rgb(7, 99, 7);
}
#searchBar::placeholder{   
    text-align: center;
}
#searchBar{
	width: 280px;
	height: 35px;
	font-size: 25px;
	border-radius: 5px;
	border: solid gray 1.2px;
}


#searchWrapper{
	display: grid;
	justify-content: center;
}

#character_list_container {
	position: relative;
	padding: 4rem;
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}

#charactersList {
	justify-content: center;
	list-style: none;
	padding-inline-start: 0;
	display: grid;
	grid-template-columns:20% 20% 20% 20% ;
	grid-gap: 1.2rem;
}

.gryffindor-card {
	list-style: none;
	border-radius: 6px;
	border: 5px solid black;
	padding: 5px 5px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
	  " name image "
	  " house image "
	  " age image"
	  " alive image";
	text-align: left;
	background-color: #ae4a4a;
	color:#febc42;
}
.ravenclaw-card {
	list-style: none;
	border-radius: 6px;
	border: 5px solid black;
	padding: 5px 5px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
	  " name image "
	  " house image "
	  " age image"
	  " alive image";
	text-align: left;
	background-color: #382982;
	color:#f7c665;
}
.hufflepuff-card {
	list-style: none;
	border-radius: 6px;
	border: 5px solid black;
	padding: 5px 5px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
	  " name image "
	  " house image "
	  " age image"
	  " alive image";
	text-align: left;
	background-color: #fae675;
	color:#590a59;
}
.slytherin-card {
	list-style: none;
	border-radius: 6px;
	border: 5px solid black;
	padding: 5px 5px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
	  " name image "
	  " house image "
	  " age image"
	  " alive image";
	text-align: left;
	background-color: #3b9e82;
	color:#204431;
}

.hp-characters > h2 {
	font-size: 25px;
	grid-area: name;
	margin-bottom: 0px;
	height: 40px;
}

.hp-characters > .house {
	grid-area: house;
	margin: 0;
	margin-top: 10px;
}
.hp-characters > .age {
	grid-area: age;
	margin: 0;
	margin-top: 10px;
}
.hp-characters > .alive {
	grid-area: alive;
	margin: 0;
	margin-top: 10px;
}


.hp-characters  > img, .image{
	max-height: 150px;
	grid-area: image;
}

.dead{
	color:red;
	margin-top: 10px;
	
	text-shadow: 1px 1px black;
}

.hidden-house {
	display: none;
}
#house-nav-bar {
	display: flex;
	width: 100%;
}

#house-names {
	display: flex;
	text-align: center;
	list-style: none;
}

.character{
	border: 2px solid black;
	margin: 10px;
}
.grow {
  transition: transform .3s;;
}
.grow:hover {
  transform: scale(1.2);
}